<div class="page">
<h2>OY! Your login info isnt good enough</h2>

<p>You must either <%= link_to 'sign up', new_user_path %> or <%= link_to 'login', new_session_path %> to continue</p>
<br>
<p>or just <%= link_to 'get out of here', url:('www.espn.com') %></p>
</div>
