<div class="page">

  <h1>LOGIN</h1>
  <%= form_tag sessions_path, method: :post do %>
  USERNAME: <%= text_field_tag :username %>
  PASSWORD: <%= password_field_tag :password %>
  <%= submit_tag "LOGIN" %>
  <% end %>
  <br>



</div>
