/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
  *= require material_design_rails
  */

body {
  text-align: center;
  background-image: url('http://orig03.deviantart.net/6a36/f/2012/072/c/0/light_blue_metal_by_rubberd91-d4sodfs.jpg');
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration-style: double;
}

#welcome {
  list-style: none;
}



.page {
  text-align: center;
}

.list-list {
  list-style: none;
}

.nav {
  position: absolute;
  top: 0;
  /*margin-top: -25px;*/
}

.todos {
  list-style: none;
}

#list-link {
  font-size: 32px;
}


*= require formtastic
*= require my_formtastic_changes
